@forward '/src/scss/main-variables/topbar-variables';

.navbar {
    background-color: #ffffffd9;
    backdrop-filter: blur(.1rem);
    z-index: 999;
    border-bottom: 1px solid var(--light-brown);
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    position: fixed;
    inset: 0% auto auto;
}

.navbar_wrapper {
    z-index: 2;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1560px;
    height: 60px;
    display: flex;
    position: relative;    
}

.nav_logo_wrapper {
    width: 350px;
}

.header_content {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    justify-content: center;
    align-items: center;
    display: flex;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    li {
        cursor: pointer;
        margin-left: 2ex;
        margin-right: 2ex;
        font-weight: 600;

        a {
            text-decoration: none;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    object-fit: contain;
    // max-width: none;
    
    img {
        height: 32px;
        width: var(--logo-width);
        vertical-align: middle;
        display: inline-block;
        will-change: filter;
    }
}

.button_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 350px;

    button {
        grid-column-gap: .4rem;
        grid-row-gap: .4rem;
        background-color: #413936;
        color: #eeedea;
        border-radius: 100rem;
        flex: none;
        justify-content: flex-start;
        align-items: center;
        padding: .875rem 1.25rem;
        font-weight: 500;
        line-height: 120%;
        text-decoration: none;
        transition: background-color .4s cubic-bezier(.645, .045, .355, 1);
        display: flex;
        will-change: filter;
        filter: invert(100%) brightness(150%) hue-rotate(180deg);
        line-height: 120%;
    }
}

.mobile_icon {
    border: 1px solid var(--light-brown);
    padding: 5px;
    
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}