$section-services-color: #f2f2f2;
$section-services-min-height: 100vh;
$section-services-background-color: rgba(0, 35, 73, 1);
$section-services-width: calc(50% + 48px);
$section-services-flex-direction: row;
$section-services-transform: translateX(-48px);
$section-services-padding: 30px 0 30px 97px;
// mobile
$section-services-min-height_mobile: none;
$section-services-flex-direction-mobile: column;
$section-services-img-display-mobile: none;
$section-services-width-mobile: none;
$section-services-transform-mobile: none;
$section-services-padding-mobile: none;