$section-team-background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("/img/index-work-w-us/index-work-w-us.png");
$section-team-background-attachment: fixed;
$section-team-contact-color: #ffffff;
$section-team-contact-background-color: #000000d6;
$section-team-contact-padding: 100px;
$section-team-contact-width: 80%;
$section-team-header-h2-contact-font-size: 1.8rem;
$section-team-header-h6-contact-font-size: 1rem;
$section-team-header-p-contact-font-size: 15px;
// mobile
$section-team-background-attachment-mobile: unset;
$section-team-contact-padding-mobile: 10px 10px 30px 10px;
$section-team-contact-width-mobile: 100%;
$section-team-header-h2-contact-font-size-mobile: 1rem;
$section-team-header-h6-contact-font-size-mobile: .7rem;
$section-team-header-p-contact-font-size-mobile: 13px;