$section-stories-flex-direction: row;
$section-stories-padding-top: 5.75rem;
$section-stories-padding-bottom: 5.75rem;
$section-stories-padding-left: 8.5rem;
$section-stories-padding-right: 8.5rem;
// mobile
$section-stories-flex-direction-mobile: column;
$section-stories-padding-top-mobile: 3.75rem;
$section-stories-padding-bottom-mobile: 3.75rem;
$section-stories-padding-left-mobile: none;
$section-stories-padding-right-mobile: none;