$section-commitment-background-img: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("/img/index-img/lounge-index.png");
$section-commitment-background-attachment: fixed;
$section-commitment-header: 1.8rem;
$section-commitment-text-size: 1.2rem;
// mobile
$section-commitment-background-attachment-mobile: unset;
$section-commitment-header-mobile: 1.1rem;
$section-commitment-text-size-mobile: .8rem;
