$background-position: sticky;
$background-image-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
$background-image-gradient: linear-gradient(180deg, rgba(47, 48, 48, 0.267) 14%, rgba(36, 38, 39, 0.767) 61%, rgba(164, 164, 170, 0.13) 100%);
$container-header-font-size: 2.2rem;
$container-text-font-size: 1.8rem;
// mobile
$background-position-mobile: relative;
$container-header-font-size-mobile: 1.2rem;
$container-text-font-size-mobile: 1.3rem;