$section-about-header-size: 1.8rem;
$section-about-text-size: 1.1rem;
$section-about-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
// mobile
$section-about-header-size-mobile: 1.1rem;
$section-about-text-size-mobile: .8rem;